@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat+Alternates&display=swap");
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 50px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
  background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(58, 180, 147) 70%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

hr {
  border-top: 1px solid #b6b6b6;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.error {
  background-color: red;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: white;
  width: 99%;
}

.box__Loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.box__Loading .hidden {
  display: none;
}
@-webkit-keyframes arrows {
  0%, 100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}
@keyframes arrows {
  0%, 100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}
.box__Loading span {
  font-size: 35px;
  font-weight: 900;
  --delay: 0s;
  -webkit-animation: arrows 1s var(--delay) infinite ease-in;
          animation: arrows 1s var(--delay) infinite ease-in;
}

main {
  display: flex;
}
main .clans {
  width: 200px;
  border-right: 1px solid #b6b6b6;
}
main .clans h2 {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
main .clans ul {
  margin-right: 15px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  padding-right: 40px;
}
main .no__bullet {
  list-style: none;
}
main .no__bullet li {
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}
main .no__bullet li:hover {
  font-weight: bolder;
}
main section {
  width: 100%;
}
main section .clan {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}
main section .clan__members {
  background-color: #c6ede2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 98%;
}
main section .hidden {
  display: none;
}
main section .contain__members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  background-color: white;
  width: 100%;
}
main section .contain__members .hidden {
  display: none;
}
main section .contain__members .member__detail {
  background-color: #fbe0e9;
}
main section .contain__members .member__detail .member_img img {
  height: 200px;
  width: 175px;
}
main section .contain__members .member__detail .details div {
  margin: 5px;
}
main section .contain__members .member__detail .details .one__line {
  display: flex;
  align-items: center;
}
main section .contain__members .member__detail .details .one__line span {
  margin-left: 15px;
}
main section .contain__members .member__detail .details .family__member .family__head {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
main section .contain__members .member__detail .details .family__member .family__one__line {
  display: flex;
  align-items: center;
}
main section .contain__members .member__detail .details .family__member .family__one__line h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
main section .contain__members .member__detail .details .family__member .family__one__line span {
  margin-left: 15px;
}
main section .contain__members .member__detail:hover {
  box-shadow: 0px 5px 15px 1px gray;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */